<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>cadastraUsuario</servlet-name>
        <servlet-class>cdc.controller.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastraCliente</servlet-name>
        <servlet-class>cdc.controller.ServletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastraCompra</servlet-name>
        <servlet-class>cdc.controller.ServletCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarSenha</servlet-name>
        <servlet-class>cdc.controller.ServletRecuperaSenha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastraUsuario</servlet-name>
        <url-pattern>/cadastraUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastraCliente</servlet-name>
        <url-pattern>/cadastraCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastraCompra</servlet-name>
        <url-pattern>/cadastraCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarSenha</servlet-name>
        <url-pattern>/RecuperarSenha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
